.main {
  text-align: center;
}

.logo {
  border-radius: 50%;
  background: linear-gradient(to top right, #2b4c97, #283858);
  height: 40vmin;
}

.header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}
